/* Inserta tu codigo aqui */
body{
	font-family: "Montserrat";

}
.row{
	max-width: 100%;
}

.titulo{
	margin-left: 35%;
	color:#191717;	
}

.menu{
	list-style: none;
}

.menu a{
	text-decoration: none;
	float: left;
	margin-left: 10%;
	color:#C7BFBF;
	font-size: 20px;
	padding: 2%;
}

h3{
	text-align: center;
}

.fondo{
	background: #ECEBEB;
	padding: 4% 6%;
}

.ballet{
background-image: url(../img/dance_12.jpg);	
}

.moderno{
	 background-image: url(../img/breakdance.jpg);
}
.lirico{
	background-image: url(../img/lirical-jazz.jpg);
}

.arabe{
	background-image: url(../img/arabe.jpg);
}

.niño{
	background-image: url(../img/little.jpg);
}

.yoga{
	background-image: url(../img/yoga.jpg);
}

.imagen{
	width: 31%;
    margin: 1%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 520px;
    padding-top: 15%;
}

.texto{
	margin-left: 2%;
    background-color: rgba(25, 19, 21, 0.6);
    width: 95%;
    padding: 3%;
    text-align: center;
    color:#FCF6F6;    
}

.texto h6{
	font-size: 12px;
}

#shoes{
	background: url(../img/shoes_1.jpg) no-repeat;
	background-size: contain;
	background-position: right;
}


form{
	width: 450px;
	height: 400px;
	margin: auto;
	background: rgba(0,0,0,0);
	padding: 3% 8%;
	box-sizing: border-box;
	border-radius: 7px;

}

h2{
	color:;
	text-align: center;
	margin: 0;
	font-size: 30px;
	margin-bottom: 3%;
}

input, textarea{
	width: 100%;
	margin-bottom:4%;
	padding: 2%;
	box-sizing: border-box;
}

#boton{
	background: #16174A;
	color:#FFFFFF;	
}

.footer{
	background: #16174A;	
	padding: 1% 3% 0% 3%;
	color:#FFFFFF;
}

.footer p{
	font-size: 12px;	
}