/* Inserta tu codigo aqui */
body{
	font-family: "Montserrat";

}
.row{
	max-width: 100%;
}

.titulo{
	margin-left: 35%;
	color:#191717;	
}

.menu{
	list-style: none;
}

.menu a{
	text-decoration: none;
	float: left;
	margin-left: 10%;
	color:#C7BFBF;
	font-size: 20px;
	padding: 2%;
}

.portada{
	background: url(../img/dance_7.jpg) no-repeat;
	background-size: cover;
	height: 450px;
}

.nosotros{
	width: 40%;
	height: 200px;
	background: #8A8080;
	margin-left: 30%;
	margin-top: 10%;
	padding: 3%;
	opacity: 0.5;
}

.portada h4, p{
	color:#FFFFFF;
	text-align: center;
}

.fondo{
	background: url(../img/cubes.png);
	height: 300px;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
}

.fondo h3, p{
	color:#C1BCBC;
	padding: 3%;
	text-align: center;
}

#h1{
	text-align: center;
	padding-top: 3%;
}

.profesores{
	width: 100%;
	height: 200px;	
}

.descripcion{
	color:#252222;
	font-size: 14px;
	text-align: left;
}

.fotps{
	padding: 2% 4%;
}

.fondodos{
	background: url(../img/cubes.png);
	height: 300px;
}

.frase{
	padding: 10% 20%;
	font-size: 48px;
	text-align: center;
	color: #262121;
}

.shoes_1{
	background: url(../img/shoes_1.jpg) no-repeat;
	background-size: contain;
	background-position: right;
}

form{
	width: 450px;
	height: 400px;
	margin: auto;
	background: rgba(0,0,0,0);
	padding: 3% 8%;
	box-sizing: border-box;
	border-radius: 7px;

}

h2{
	color:;
	text-align: center;
	margin: 0;
	font-size: 30px;
	margin-bottom: 3%;
}

input, textarea{
	width: 100%;
	margin-bottom:4%;
	padding: 2%;
	box-sizing: border-box;
}

#boton{
	background: #16174A;
	color:#FFFFFF;	
}

footer{
	background: #16174A;	
	padding: 2% 3%;
	color:#FFFFFF;
}

footer div p{
	text-align: left;
}